<!-- Portfolio Grid Section -->
    <section id="menu">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Menu</h2>
                    
                </div>
            </div>
            <div class="row" style="width: 80%; margin: 0 auto 0 auto;">
                <div class="col-md-5">
                    <h3 class="text-center">Cut</h3>
                    <div class="menu-item" style="font-size: medium; margin-bottom: 5px;">
                        <span>カット</span>
                        <span style="float: right;">¥4950</span>
                    </div>
                    <div class="menu-item" style="font-size: medium; margin-bottom: 5px;">
                        <span>スクールカット</span>
                        <span style="float: right;">¥3520</span>
                        <br/>
                        <span style="font-size: small;">（中・高校生）</span>
                    </div>
                    <div class="menu-item" style="font-size: medium; margin-bottom: 5px;">
                        <span>スクールカット</span>
                        <span style="float: right;">¥2750</span>
                        <br/>
                        <span style="font-size: small;">（小学生）</span>
                    </div>
                    <div class="menu-item" style="font-size: medium; margin-bottom: 5px;">
                        <span>キッズカット</span>
                        <span style="float: right;">¥2310</span>
                        <br/>
                        <span style="font-size: small;">（小学生未満）シャンプーなし</span>
                    </div>
                    <div class="menu-item" style="font-size: medium; margin-bottom: 5px;">
                        <span>フロントカット</span>
                        <span style="float: right;">¥1100</span>
                    </div>
                    <h3 class="text-center">Perm</h3>
                    <div class="menu-item" style="font-size: medium; margin-bottom: 5px;">
                        <span>コスメパーマ</span>
                        <span style="float: right;">¥6600</span>
                    </div>
                    <div class="menu-item" style="font-size: medium; margin-bottom: 5px;">
                        <span>デジタルパーマ</span>
                        <span style="float: right;">¥11000</span>
                    </div>
                    <div class="menu-item" style="font-size: medium; margin-bottom: 5px;">
                        <span>ポイントパーマ</span>
                        <span style="float: right;">¥4400</span>
                    </div>
                    <div class="menu-item" style="font-size: medium; margin-bottom: 5px;">
                        <span>縮毛矯正</span>
                        <span style="float: right;">¥11000</span>
                    </div>
                    <div class="menu-item" style="font-size: medium; margin-bottom: 5px;">
                        <span>ポイントストレート</span>
                        <span style="float: right;">¥5500</span>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-5">
                    <h3 class="text-center">Color</h3>
                    <div class="menu-item" style="font-size: medium; margin-bottom: 5px;">
                        <span>カラーリング全体</span>
                        <span style="float: right;">¥6600</span>
                    </div>
                    <div class="menu-item" style="font-size: medium; margin-bottom: 5px;">
                        <span>カラーリングリタッチ</span>
                        <span style="float: right;">¥5950</span>
                    </div>
                    <div class="menu-item" style="font-size: medium; margin-bottom: 5px;">
                        <span>ウィービング</span>
                        <span style="float: right;">¥4400~</span>
                        <br/>
                        <span style="font-size: small;">シャンプーブロー別途</span>
                    </div>
                    <h3 class="text-center">Treatment</h3>
                    <div class="menu-item" style="font-size: medium; margin-bottom: 5px;">
                        <span>うる艶トリートメント</span>
                        <span style="float: right;">¥2420</span>
                    </div>
                    <div class="menu-item" style="font-size: medium; margin-bottom: 5px;">
                        <span>極上トリートメント</span>
                        <span style="float: right;">¥3850</span>
                    </div>
                    <div class="menu-item" style="font-size: medium; margin-bottom: 5px;">
                        <span>ヘッドスパ (20分)</span>
                        <span style="float: right;">¥4730</span>
                    </div>
                    <h3 class="text-center">Others</h3>
                    <div class="menu-item" style="font-size: medium; margin-bottom: 5px;">
                        <span>シャンプーブロー</span>
                        <span style="float: right;">¥2750</span>
                    </div>
                    <div class="menu-item" style="font-size: medium; margin-bottom: 5px;">
                        <span>ヘアセット・アップ</span>
                        <span style="float: right;">¥5280</span>
                    </div>
                    <div class="menu-item" style="font-size: medium; margin-bottom: 5px;">
                        <span>ロング料金</span>
                        <span style="float: right;">¥1100</span>
                    </div>
                    <div class="menu-item" style="font-size: medium; margin-bottom: 5px;">
                        <span>早朝料金（30分）</span>
                        <span style="float: right;">¥550</span>
                    </div>

                    <br/>
                    <span>＊カラー、パーマ、トリートメントのみの場合はシャンプーブロー代1100円がかかりますのでご了承下さい。</span>
                    <br/>
                    <span>＊上記メニューには、税込価格となります。</span>
                    
                </div>
            </div>
            <div class="row" style="width: 80%; margin: 30px auto 0 auto; float: right;">
                
            </div>
        </div>
    </section>









